@model IEnumerable<TOM.Core.Entities.Passagem>

@{
    ViewBag.Title = "Passagens";
}


<div>
    <br />
    <br />
    <br />
    <h4>Cancelar Passagem</h4>
    <div class="form-group">
        <form action="CancelarPassagem" method="get">
            <div class="form-inline">
                <input type="number" name="numeroVoo" value="" placeholder="Numero Voo" class="form-control" required />
                <button type="submit" class="btn btn-danger ">Cancelar Passagem</button>
            </div>
        </form>
    </div>
    <h4>Comprar Passagens</h4>
    <div class="form-group form-inline">
        <form action="ComprarPassagens" method="get">
            <div class="form-group form-inline">
                <input type="number" name="numeroVoo" value="" placeholder="Numero Voo" class="form-control" required />
                <input type="number" name="quantidadePassagens" value="" placeholder="Quantidade" class="form-control" required />
                <button type="submit" class="btn btn-success ">Comprar Passagem</button>
            </div>
        </form>
    </div>
</div>
<br />
<hr />

<h2>Passagens</h2>

<table class="table">
    <tr>
        <td>
            Numero Voo
        </td>
        <td>
            Numero Passagem
        </td>
        <th>
            Preço Passagem
        </th>
        <th>
            Data do Voo
        </th>

        <td>
            Origem
        </td>
        <td>
            Destino
        </td>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Voo.NumeroVoo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>

            <td>
                @{
                    var preco = item.ValorPassagem.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("pt-BR"));
                }

                @preco

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataVoo)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Voo.Origem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Voo.Destino)
            </td>

            @*<td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>*@
        </tr>
    }

</table>
